<div id="user-profile">
	<h1><%= @user.name %></h1>

	<div id="user-profile-image">
		<%= image_tag @user.avatar %>
	</div>
	<% unless current_user == @user %>
	<div class="follow">
		<%= user_follow_tag @user %>
	</div>
	<% end %>
	<div class="tagline">
		<p class="muted"><%= user_tagline_tag @user %></p>
	</div>
</div>