<div id="user-profile">
	<h1><%= @account.nickname %></h1>

	<div id="user-profile-image">
		<%= account_avatar_tag(@account, :style => "normal") %>
	</div>
	<% unless current_account == @account %>
	<div class="follow">
		<%= account_follow_tag @account %>
	</div>
	<% end %>
	<div class="tagline">
		<p class="muted"><%= @account.tagline %></p>
	</div>
</div>