<div id="main" class="container-fluid">
      <div id="notifications" class="bookdate-box">
    <h1>通知</h1>
    <table class="table">
      <tbody>
          <tr id="notification-70164">
            <td class="face">
  <a href="/ywjno"><img alt="B75f97b497b215815971e19fdbaafa40" class="uface" src="http://ruby-china.org/avatar/b75f97b497b215815971e19fdbaafa40.png?s=48&amp;d=404" style="width:48px;height:48px;"></a>
</td>
<td>
  <h3>
    <span class="user">
      <a href="/ywjno" data-name="冬天温泉">ywjno</a>
    </span>
    回复了你的主题：
    <a href="/topics/6017" title="关于window的问题">关于window的问题</a>
  </h3>
    <div class="body md_body">
      <p><code>var tmp = 0;</code>的意思是定义一个tmp对象，值是0，<code>tmp = 0;</code>的意思是给window对象定义一个属性（或者叫变量），值是0</p>

<p>如果代码写<code>tmp</code>表示是从window调用<code>tmp</code>这个方法（或得到该属性），结果就跟<code>window.tmp</code>是一个效果</p>

<p>（貌似以上都可以用一句话搞定：指定变量的作用域。。。）</p>
    </div>
</td>
          </tr>
      </tbody>
    </table>
  
</div>

    </div>