<div class="row">
	<div class="span2">
		<%= render "profile", :account => @account %>
	</div>

	<div class="span9">
		<div class="bookdate-box width-full" id="node_info" >
      <ul class="sorts left-band">
	<li style="font-size:18px;" <%= " class=active" if action_name == "show"  %>><a href="#"><%= @share_count %> 分享</a></li>
	</ul>
</div>
	</div>
	<div class="span9">
		<%= render_cell :posts, :index, 
    :current_tag => @current_tag, :posts => @posts, :action_name => @action_name %>

	</div>


</div>