<%= render 'base' %>
<% content_for :breadcrumb do %>
  <li class="active">新建贴子</li>
<% end %>

<div class="row">
	<div class="span9">
<div class="content">
	<div class="bookdate-box">
		<%= render 'form' %>
	</div>
</div>
	</div>

	<div class="span3">
		<%= render 'sidebar' %>

	</div>


</div>



