<div id="guide-modal" class="modal hide fade">
    <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>新手指南</h3>
    </div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="span12">
            <p>1.输入ISBN，单击获取</p>
            <%= image_tag "guide_1.png" %>
            <p>2.输入你想要的内容</p>
            <%= image_tag "guide_3.png" %>
            <p>3.地图标点,输入完地址后，点击查看该地址</p>
            <%= image_tag "guide_2.png" %>
            <%= image_tag "guide_4.png" %>
            <p>4.完成！，点击提交借出你的图书吧！</p>
        </div>
    </div>
</div>
</div>