   <div class="span">
               <div style="display:none;" class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">选择城市</h3>
  </div>
  <div class="modal-body" id="post_node_info">
    <ul class="sorts">
      <% @locations.each do |location| %>
      <li><%= link_to location.name, near_me_post_path(location) %></li>
      <% end %>
      </ul>
  </div>
</div>
      </div>



      

      

