<div class="span4">		
<div class="bookdate-box near-books ">
	<h4>周边愿望</h4>
	<% @nears.each do |n| %>
	<% if n.id == @post.id %>
		<% next %>
	<% end %>
	<div class="iwant-wish" >
				<div class="image">
			<%= user_avatar_tag n.user, :style => "48x48" %>
		</div>
		<div class="iwant">
						<span class="label label-info">我想要</span>
						<%= link_to n.dream, post_path(n) %>
		<div class="clearfix"></div>
		</div>
	</div>
	<% end %>
</div>
</div>
