		<div class="bookdate-box" data-type="image">
		  			<%= image_tag post.image %>
		  			<p class="tags">
		  				<i class="icon-tags"></i>
		  				<% post.tags.each do |tag|  %>
		  					<span><%= link_to(tag.name, tag_path(tag)) %> </span>
		  				<% end %>
		  			</p>
		  			

		  			<div class="comm_share commentHover"> <a class="avatar32_f trans07 userInfoTips" user_id="1911780" href="/person/u/1911780" target="_blank"><img src="http://imgtest.meiliworks.com/ap/c/96/c7/bcba3fb557be87461c91cd52f92d_501_501.jpg"></a> <p class="ml40_f"><a class="fb_f" href="/person/u/1911780" target="_blank">豆豆家</a><span class="gray_f"> 我想知道团购价是70块包邮么？~</span><a class="comment_reply v_hidden" href="javascript:void(0)"><%= post.created_at %></a></p> <div class="clear_f"></div> </div>
		  			</div>
