<div class="span12 bookdate-box about_box">
	<h3>关于</h3>
	<ul>
		<li>
			<h4>1.什么是书愿网</h4>
			<p>
				书愿网是一个社会化借书平台<br>
                所有的图书都来自会员自己的书架，你可以通过申请借阅，在发布者同意后进行线下借阅
			</p>
		</li>
		<li>
			<h4>2.如何进行线下借阅</h4>
			<p>
				所有的图书线下借阅都是你跟发布者协商而定的，所以尽量选择同城的发布者
			</p>
		</li>
		<li>
			<h4>3.现在支持的城市</h4>
			<p>
				目前只支持深圳，广州，上海，北京，杭州，宁波这6个城市的借阅<br/>
				其他城市会在公测后开放
			</p>
		</li>

	</ul>
	<% if current_user.sign_in_count == 1 %>
		<%= link_to "进入首页" ,"/posts", :class => "btn btn-primary" %>
	<% end %>
</div>