<div class="bookdate-box width-full" id="node_info">
      <%= render "node_info" %>
</div>

<%= render_cell :posts, :index, 
    :current_tag => @current_tag, :posts => @posts %>


<%= render "location", :locations => @locations %>


</div>