<div class="span12">

<%= render "node_info" %>

<%= render_cell :posts, :index, 
    :current_tag => @current_tag, :posts => @posts, :action_name => action_name %>
</div>

<%= render "location", :locations => @locations %>


