/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.tagit
 *= require jquery-autocomplete
 *= require 'masonry/basic'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require social-share-button
 #= require jquery.atwho
 *= require homeland
 *= require base
 *= require bootstrap_and_overrides
 *= require comment
 *= require post
 *= require tag
 *= require user
 *= require jquery-ui
 *= require jquery.pnotify
 */
.bookdate-box {
	background-color: white;
	padding: 15px 15px 0;
	margin-bottom: 15px;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	padding-bottom: 15px;
}

.avatar32_f img {
width: 32px;
height: 32px;
float: left;
}

.ml40_f {
margin-left: 40px;
}

.fb_f {
font-weight: bold;
}
a.fb_f {
	color: #666;
text-decoration: none;
}

.gray_f  {
color: #999;
text-decoration: none;
}



.width-full{
	width: 100% !important;
	height: 42px;
}

.long-btn {
	width: 90%;
	margin-top: 15px;
}

.signup {
margin: 38px 0 0 20px;
font-size: 16px;
}

.login {
margin: 38px 0 0 20px;
font-size: 16px;
}


.left30 {
	padding-left: 30px;
}

#map{
	height: 300px;
	width: 500px;
}

#post_node_info {
padding: 0 10px;
}


#post_node_info .sorts {
	color: #999;
	padding: 10px 0;
}

#post_node_info .left-band {
	float: left;
	width: 340px;
}
#post_node_info .right-band {
	float: right;
	text-align: right

}
#post_node_info .right-band {
	width: 340px;
}




#post_node_info .sorts li {
display: inline;
margin: 0 5px;
}

#post_node_info .sorts li a i {
line-height: 18px;
}





#back-top {
	position: fixed;
	bottom: 30px;
	right: 20px;
	margin-left: -150px;
}

#back-top a {
	width: 70px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}

/* arrow icon (span tag) */
#back-top span {
	width: 70px;
	height: 70px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url('up-arrow.png') no-repeat center center;

	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	
}
#back-top a:hover span {
	background-color: #777;
}

.attribution {
color: #999;
border-top: 1px solid #F5F2F2;
background: #FAFAFA;
position: relative;
}
.attribution p {
display: table-cell;
max-width: 190px;
height: 30px;
vertical-align: middle;
}

.attribution a {
color: #444;
}
.author.x {
	margin-left: 5px;
}

.convo a.img {
float: left;
margin-right: 6px;
width: 30px;
}
.convo {
margin: 0 -15px;
padding: 10px 15px;
background: #FAFAFA;
}


#user-profile .stats {
font-size: 15px;
margin: 0 0 10px 10px;
}

#user-profile  p {
margin: 0 0 4px;
font-size: 12px;
word-wrap: break-word;
}

#user-profile .stats a {
margin-right: 10px;
color: #221919;
text-decoration: none;
outline: 0;
}


#post_node_info a {
	color: #333;
}
#post_node_info a:hover {
	text-decoration: none;
	color: #08C;
}

#post_node_info li a:active{
	color: #08C;
}

#post_node_info li.active a{
	color: #08C;
}


.holder {
right: 0;
display: block;
top: 5px;
z-index: 1;
width: 34px;
height: 25px;
}

.messages .holder a {
color: #333;
}
.social_share {
	margin:  10px;
}

