.bookdate-box {
	background-color: white;
	padding: 15px 15px 0;
	margin-bottom: 15px;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	padding-bottom: 15px;
}

#node_info a {
	color: #333;
}
#node_info a:hover {
	text-decoration: none;
	color: #08C;
}

#node_info li a:active{
	color: #08C;
}

#node_info li.active a{
	color: #08C;
}

.width-full{
	width: 100% !important;
	height: 42px;
}

.long-btn {
	width: 90%;
	margin-top: 15px;
}

.signup {
margin: 38px 0 0 20px;
font-size: 16px;
}

.login {
margin: 38px 0 0 20px;
font-size: 16px;
}

.info {
padding: 30px 20px;
font-size: 16px;
line-height: 1.5;
}

.left30 {
	padding-left: 30px;
}

#map{
	height: 300px;
	width: 500px;
}

#node_info {
padding: 0 10px;
}


#node_info .sorts {
	color: #999;
	padding: 10px 0;
}

#node_info .left-band {
	float: left;
	width: 340px;
}
#node_info .right-band {
	float: right;
	text-align: right
}


#node_info .sorts li {
display: inline;
margin: 0 5px;
}



.tags {
margin: 10px 0 5px;
}


.stats {
margin: 10px 0;
color: #999;
}

#back-top {
	position: fixed;
	bottom: 30px;
	right: 20px;
	margin-left: -150px;
}

#back-top a {
	width: 70px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}

/* arrow icon (span tag) */
#back-top span {
	width: 70px;
	height: 70px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url('up-arrow.png') no-repeat center center;

	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #777;
}

.author {
background: #EEE;
margin: 0 -15px;
padding: 10px 15px;
-webkit-box-shadow: 0 1px 0 0 white inset;
-moz-box-shadow: 0 1px 0 0 #ffffff inset;
box-shadow: 0 1px 0 0 white inset;
}


