#isbn-help {
	font-size: 14px;
}

.createbook {
	h2{
		small {
			border-bottom: 1px #0099CC dotted;
		}
	}
}

.post-detail {
	.image {
		float: left;

	}

	.infos {
		.title {
			padding-top:7px;
			h1 {
				font-size: 19px;
				margin: 0 0 5px 58px;
				font-weight: bold;
				line-height: 1.1;
			}
		}
		.byline {
			margin-left: 60px;
			font-size: 13px;
			font-weight: normal;
			line-height: 1.4;
			color: #999;
			a {
				margin-left: 5px;
				font-size: 1em;
				font-weight: bold;
			}
		}
		img {
			margin-top: 5px;
		}


		.wish{
			float: left;
			width: 650px;
			margin-bottom: -15px;
		}
		position: relative;
		margin-bottom: 10px;
		padding: 0 10px 5px 10px;

		.info {
			color: #BBB;
			margin-bottom: 2px;
			font-size: 12px;

			a {
				color: #999;
				text-decoration: underline;
				margin-right:5px;
			}
		}
	}

	.dream {
		width : 300px;
	}

	.tags {
		width: 300px;
	}

	.content {
		 padding: 0px 10px 10px 10px;

		.info {
			margin-top:20px;
			margin-left: 210px;

			tbody{
				span.label {
					font-size:14px;
				}
				td {
					padding: 10px;
					.state {
						color: #F1687B;
						i{
							color: grey;
						}
					}
				}

				color: grey;
			}

		}

	}

	.action {
		.label {
			font-size:14px;
		}
		text-align: center;
	}

	.social_share {
		width: 260px;
		margin-left: -10px;
		.share-text{
			float:left;
			margin-right:5px;
		}
	}

}


.submit_buttons {
	float: right;
	right: 10px;
	top: 42px;
}
#post-map {
	height: 210px;
}


.post {
	width: 200px;
	.end-state {
		position: absolute;
		top: 0px;
		right: 5px;
	}
	.tags {
		margin: 10px 0 5px;
	}
	.post-footer {
		float: right;
		.item {
			color: #333;
			a{
			color: #333;	
			}
		}
	}


}

.accpt-users {
	.image {
		float: left;
		margin-right: 10px;
		margin-top: 5px;
	}
	.name {
		color: #333;
		font-weight: bold;
		.accpt-action {
			float: right;
			padding-top: 5px;
		}
	}

	.accpt-info{
		font-size: 12px;
		color: #BBB;
		table-layout: fixed;
		word-wrap:break-word;
		word-break:break-all;
	}
}

.near-books {
	.image {
		float: left;
		padding: 5px;
	}


	.iwant {
		padding-left: 55px;
		margin-top: 10px;
	}

}

.rating-group {
	float: right;
	margin: 10px 20px 0px 0px;
	.rating{
		line-height: 20px;
		font-size: 20px;
	}
}

.book-content {
	font-size: 14px;
	color: grey;
	padding-left: 10px;
}

.join-users {
	.user {
    	display: inline-block;
    	margin: 5px;
		form {
			margin-top: 5px;
		}
	}
}


