.post-detail {
	.image {
		float: left;
		.social_share {

		}
	}

	.tags {
		width: 300px;
	}

	.content {
		margin-left: 320px;
	p {
		text-align: left;
		span{
		color: #444;
		font-weight: 300;
		margin-left: 15px;
		text-align: left;
		float: right;
		width: 275px;
		margin-right: 45px;
		}
	}

	}

	.dream {
		margin-top: 10px;
	}

	.action {
		float: right;
	}
}


.submit_buttons {
	float: right;
	right: 10px;
	top: 42px;
}
#post-map {
	height: 210px;
}
.post {
	.tags {
		margin: 10px 0 5px;
	}
}


.accpt-accounts {
	.image {
		float: left;
		margin-right: 10px;
		margin-top: 5px;
	}
	.name {
		color: #333;
		font-weight: bold;
		.accpt-action {
			float: right;
			padding-top: 5px;
		}
	}

	.accpt-info{
		font-size: 12px;
		color: #BBB;
	}
}