.post-detail {
	.image {
		float: left;
		.social_share {

		}
	}

	.content {
		margin-left: 320px;
	p {
		text-align: left;
		span{
		color: #444;
		font-weight: 300;
		margin-left: 15px;
		text-align: left;
		float: right;
		width: 325px;
		margin-right: 45px;
		}
	}

	}

	.dream {
		margin-top: 10px;
	}

	.action {
		float: right;
	}
}