// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.iwant_user {
	border: 1px solid rgba(186, 111, 4, 0.1);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: white;
	-webkit-box-shadow: 0px 2px 2px 2px rgba(138, 119, 0, 0.1);
	box-shadow: 0px 2px 2px 2px rgba(138, 119, 0, 0.1);
	padding: 30px 25px;
	text-align: center;
	h1 {
	
	font-weight: 300;
	font-size: 48px;
	margin-bottom: 20px;
	.bold {
		font-weight: 600;
		color: #F89507;
		text-shadow: 1px 1px 2px rgba(138, 119, 0, 0.6);
		filter: dropshadow(color=rgba(138, 119, 0, 0.6), offx=1, offy=1);
	}
	}

	h2 {
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	font-size: 32px;
	margin-bottom: 30px;
	}

	h3 {
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 5px;
	}

	small {
	color: #999;
	line-height: 1;
	font-size: 12px;
	}

	.slogon {
		padding-left: 160px;
	}

	.arrow {
    border-top: 5px solid rgba(249, 160, 33, 0.9)!important;
}

.popover-inner {
    padding: 1px;
    width: 200px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow:  0px 2px 2px 2px rgba(138, 119, 0, 0.1);
    box-shadow:  0px 2px 2px 2px rgba(138, 119, 0, 0.1);
    background-color: rgba(249, 160, 33, 0.9);
    border: 1px solid rgba(186, 111, 4, 0.1);
}

.popover-title {
    display: none;
}

.popover-content {
    padding: 10px;
    background-color: rgba(249, 248, 242, 1);
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input[type="text"] {
    max-width: 280px;
}
input[type="text"]:focus {
    border-color: rgba(249, 160, 33, 0.9);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(249, 160, 33, 0.6);
}
@media (max-width: 979px) {
    input[type="text"], input[type="submit"] {
        margin-bottom: 8px;
    }
}
@media (max-width: 768px) {
    h1 {
        line-height: 1.1em;
    }
}
}

.nav-tabs {
	li{
		a.label-important{
		&:hover {
			background-color: #953B39;
		}
		}

		a.label-info {
			&:hover {
				background-color: #2D6987;
			
			}
		}

		a.label-success {
			&:hover {
				background-color: #356635;
			}
		}

	}

	li.active {
		table-layout: fixed;
		word-wrap:break-word;
		word-break:break-all;
	}
}

#user-profile {
	padding: 15px;
text-shadow: 0 1px rgba(255, 255, 255, .9);
background-color: white;
box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
-moz-box-shadow: 0 1px 3px rgba(34,25,25,.4);
-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);

	h1 {
		margin: 0 0 0 15px;
		font-size: 22px;
		font-weight: 300;
		word-wrap: break-word;
	}

	.tagline {
		padding: 5px;
		margin-left: 10px;
	}

	.actions {
		padding: 10px 0;
		li {

			display: inline;
			float: left;
			margin-right: 2px;
		}

		li.follow {
			margin-left: -10px;
		}

	}
}

.left {
		float: left;
		width: 49%;
		margin-bottom: 10px;
}

.right {
		float: right;
		width: 49%;
		margin-bottom: 10px;
}

.usercard {
	position: relative;
	padding: 10px;
	background: white;
	border: 1px solid #DDD;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 10px;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);

	.avatar {
		float: left;
	}

	.name {
		margin-left: 58px;
		font-size: 16px;
		line-height: 24px;
	}


	.stats {
		margin-left: 58px;
		color: #999;
	}

	.action {
		float: right;
		padding: 10px;
	}


}

#notifications {
	td {
		&.img {
			width:50px;
		}
		.face{
			padding-right: 8px;
			margin-left: 0;
		}

		h3 {
			font-size: 13px;
			color: #999;
			line-height: 18px;
			font-weight: normal;
			padding-bottom: 8px;

			.user {
				a {					
					color: #666;
					font-weight: bold;
					text-decoration: underline;
				}
			}
		}

		.body {
			line-height: 180%;
			font-size: 14px;
			text-overflow: ellipsis;
			word-wrap: break-word;
		}
	}
}
.height20 {
	height: 20px;
}

.friend-node{
	

	span{
		font-size: 18px;

		a{
			color: #333;
			&:hover{
				text-decoration: none;
				color: #08C;
			}
		}

		a.active {
			color: #08C;
		}


	}

	span.active {
		a{
			color: #08C;
		}
	}
}
.friends {
	img{
		float: left;
	}

	.user {
		margin-right: -20px;
		width: 240px;
		height: 150px;
	}

	.info {
		margin-left: 110px;
		color: #999;
	}
	
	.bio {
		table-layout: fixed;
		word-wrap:break-word;
		word-break:break-all;
	}

	.follow {
		padding: 10px 0px 0px 15px;
	}

	.params {
		padding: 5px;
		.state {
			color: #999;
		}
	}
}

.notif {

}

.social {
	h3 {
		font-weight: 300;
font-size: 14px;
color: #666;
	}

	ul {
		list-style: none;
		padding: 10px 0 0 5px;
		li{
			float: left;
margin-right: 10px;
		}
	}
}

