<div class="row-fluid"  >
        <% if @current_tag %>
         <h1><%= @current_tag.name %></h1>
        <% end %>
      <div id="posts-container">

          <%= render :partial => "post", :collection => @posts %>
    </div>
    <div>
     	<%= paginate @posts,:params => {:controller => 'posts', :action => 'get_posts', :action_name => @action_name}  %>
</div>