<div class="span4">
<div class="bookdate-box">
		<h4>我们想要借</h4>
		<div class="join-users">
		<% if @post.complete_user? %>
			<% @post.wish_users.each do |user| %>
		<div class="user">
				<%= user_avatar_tag(user, :style => "48x48", :image_css => "#{'grayscale' unless @post.complete_user_id == user.id}"  ) %>
		</div>
		<% end %>
		<% else @post.wish_users? %>
			<% @post.wish_users.each do |user| %>
		<div class="user">
				
				<% if @post.user.id == current_user.id %>
					<%= user_avatar_custom_tag(user, :style => "48x48", :title => "#{user.realname}<br/>#{user.phone}") %>
					<%= render "join_form", :post => @post, :user => user %>
				<% else %>
					<%= user_avatar_tag(user, :style => "48x48") %>	
					<div><p class="muted">已参与</p></div>
				<% end %>
		</div>
			<% end %>
		<% end %>

		<% unless @post.wish_users?  %>
			<p class="muted">目前还没有人想跟他借书，赶快加入吧</p>
		<% end %>
		</div>
</div>
</div>




